@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import 'colors.scss';

a:visited, a:link {
    color: $color-primary-1;
}

.flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.flex > li > a {
    display: flex;
    padding: 0.25em;
    text-decoration: none;
    align-items: center;
    span {
        margin-left: 1em;
    }
}
.flex > li > a:hover {
    background: $color-secondary-2-1;
}


html {
    height: 100%;
}
html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: $color-primary-0;
}
body {
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;
}

.visible-block-gold {
    border: 10pt solid $color-secondary-1-4;
}
#heading {
    background: $color-primary-0;
}
#heading h1 {
    margin: 0 .25em;
    text-align: center;
    font-size: 3em;
    color: $color-secondary-1-4;
    font-family: Racing Sans One, serif; /*Change font later */
}

#content {
    display: flex;
    flex-wrap: wrap;
    background: $color-primary-0;
    font-family: Racing Sans One;
    flex-grow: 2;
}
#tags {
    display: flex;
    padding: 1pt;
    background: $color-primary-0;
    font-size: 1.2em;
    
    img {
        height: 2em;
        width: 2em;
    }
}

.blocky-list li a {
    color: $color-secondary-2-1;
    width: 100%;
    background: $color-secondary-1-1;
}

.blocky-list li {
    width: 100%;
    background: $color-primary-4;
}

#listing {
    flex-basis: 50%;
    flex-grow: 16;
    align-self: center;
}

section {
    border: 7pt solid $color-secondary-2-0;
}

.unmarked-list {
    padding: 2pt;
    list-style: none;
    
}

.blocky-list > li {
    
}

.summary {
    background: $color-secondary-2-0;
}

.summary-heading {
    padding-left: 40pt;
    color: $color-secondary-2-3;
}

#summary {
    display: flex;
    flex-wrap: wrap;
    color: $color-secondary-2-1;
    
    a {
        color: $color-secondary-2-4;
    }
}
#summary iframe {
    max-width: 100vmin;
}

p.summary {
    padding: 10pt;
}

h2.Summary { 
    padding-left: 20pt;
}
#games > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#games > ul > li{
    margin: 2pt;
}
#games > ul > li > a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $color-primary-0;
    text-decoration: none;
    background: $color-primary-1;
}
#games > ul > li > a > img {
    width: 160px;
    height: 90px;
    max-width: 100vmin;
}
#games > ul > li > a > span {
    width: 16em;
}
#games .title {
    display: block;
    font-size: larger;
    font-weight: bold;
    font-variant: small-caps;
}
